body{
    padding: 0%;
    margin: 0%;
    font-family: 'Poppins', sans-serif;
}
section{
    height: 700px;
}
.half-width{
    float: left;
    width: 40%;
}
.hw1{
   margin-top: 15%;
   margin-left: 16%;
   margin-right: 0%;
}
.hello{
    font-weight: 100;
    font-size: xx-large;
    margin-bottom: 2%;
}
.bio{
    font-weight: 530;
}
.name{
    font-size: 50px;
    margin-top: 0%;
    margin-bottom: 5%;
    color: rgba(236, 45, 141, 0.957);
}
.button{
    background-color: rgba(236, 45, 141, 0.957);
    color: white;
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 6px;
    font-weight: 100;
    font-size: 14px;
    background-image: linear-gradient(45deg, rgb(194, 80, 145), hotpink); 
}
.button:hover{
    font-size: 15px;
    color: greenyellow;
}
.half-width img{
    width: 85%;
    margin-top: 20%;
    margin-left: 0%;   
}
#header{
    background-image: url(images2/header-bg.png);
    background-size: 100%;
    background-repeat: no-repeat;
}
.hwb{
    margin-top: 17%;
}
.hwi{
    margin-left: 10%;
}
#biography{
     background-image: url(images2/biography-bg.png);
     background-repeat: 100%;
     background-repeat: no-repeat;
}
.half-width-work{
    width: 30%;
    float: left;
}
.half-width-work img{
    width: 90%;
}
.hww1{
    margin-left: 6%;
}
.mlw{
    font-size: 220%;
    font-weight: 555;
    margin-top: 7%;
    margin-bottom: 5%;
    text-align: center;
}
#mywork{
    background-image: url(images2\latest-work-bg.png);    
    background-size: 100%;
    background-repeat: no-repeat;
    height: 450px;
}
#lastpart{
    background-image: url(images2/footer-bg.png);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 650px;
    border: 1px solid white;
}
.client{
    font-size: 220%;
    font-weight: 555;
    text-align: center;
    margin-bottom: 8%;
    margin-top: 7%;
}
.bruce{
    text-align: center;
    font-size: 18px;
    font-weight: 600;
}
.fc{
    text-align: center;
    font-size: 14px;
    font-weight: lighter;
    color: gray;
}
.statement{
    text-align: center;
    margin-top: 4%;
    margin-bottom: 5%;
    font-weight: 500;
    font-size: 17px;
}
.msgbox{
    text-align: center;
    background-color: rgba(236, 45, 141, 0.957);
    color: white;
    padding: 35px 6px;
    border-radius: 12px;
    font-weight: 100;
    font-size: 14px;
    background-image: linear-gradient(45deg, rgb(194, 80, 145), hotpink);
    width: 40%;
    margin-left: 29%;
}
.lvmsg{
    margin-top: 0%;
    padding-top: 0%;
    font-weight: lighter;
    font-size: smaller;
}
.gmail{
    color: white;
    text-decoration: none;
    font-size: x-large;
    font-weight: bold;
}
.gmail:hover{
    font-size: 27px;
    color: greenyellow;
    font-weight: 800;
}
footer{
    text-align: center;
    font-size: 14px;
    font-weight: lighter;
    color: grey;
    margin-bottom: 5%;
    margin-top: 3%;
}